img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    padding-top: 0.5em;
    font-size: 3em;
}

h1,
h2 {
    font-family: "Bangers", cursive;
    color: #cc3300;
}

h2 {
    font-size: 2em;
}

main {
    width: 80%;
    margin: auto;
}

@media (min-width: 960px) {
    img {
        width: 70%;
        margin: 2em auto;
        border-radius: 200px;
    }

    main {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    img,
    main {
        max-width: 900px;
    }
}

p {
    font-family: "Dosis", sans-serif;
    font-size: 1.2em;
}

main p {
    margin-bottom: 1em;
}

footer {
    padding: 5em;
    margin-top: 5em;
    text-align: center;
    color: #d9d9d9;
    background-color: #404040;
}
