body {
    background-color: #006699;
}

.container {
    width: 80%;
    margin: 20% auto;
}

input,
textarea {
    display: block;
    width: 50%;
    margin: 1em auto;
    padding: 1em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: none;
}

#submit {
    background-color: #002233;
    color: #ffffff;
    width: 40%;
}

#submit:hover {
    background-color: #ffffff;
    color: #002233;;
}
